<p>
  <strong>Dobry den,</strong>
</p>
<p>
  Na účte <%= @account.name %> došlo k prekročeniu určenej kritickej hranice - <%= @account.warning_limit %>.<br>
  Skontrolujte si prosím stav účtu v aplikácii.
</p>
<p>
  Táto notifikácia je automatický generovaná, prosím neodpovedajte na ňu.
</p>
<p>
  S pozdravom,
  Tím
</p>