<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Kategórie</h4>
  </div>
  <div class="panel-body">
    <%= form_for Category.new, html: {class: "form-inline pull-right"} do |f| %>
        <div class="form-group">
          <%= f.text_field :name, require: true, class: 'form-control' %>
          <%= f.submit 'Vytvoriť', class: 'btn btn-sm btn-primary' %>
        </div>
    <% end %>
    <%= smart_listing_render(:categories) %>
  </div>
</div>