<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Upraviť záznam</h4>
</div>
<div class="modal-body">
  <%= render partial: 'logged/transactions/form' %>
</div>
<div class="clearfix">
  &nbsp;
</div>