<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h4>Prehľad účtov</h4>
      </div>
      <div class="col-md-5">
        <%= link_to 'Nový účet', new_account_path, class: "btn btn-sm btn-primary pull-right" %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= smart_listing_render(:accounts) %>
  </div>
</div>